<div class="horizontal-right">
  <app-modal
    *ngIf="checkedIds.length > 0"
    class="margin-right-s"
    headlineKey="delete.headline"
    descriptionKey="delete.description"
    triggerKey="deleteMarked"
    triggerColor="red"
    confirmKey="yes"
    cancelKey="no"
    (confirm)="deleteMarked()"
  >
  </app-modal>
  <button appButton [floating]="true" color="blue" (click)="create()">
    <i class="material-icons">add</i>
  </button>
</div>
<table class="collection-list responsive-table">
  <thead>
    <tr>
      <th>
        <label>
          <input
            type="checkbox"
            (change)="toggleAll()"
            [(ngModel)]="allSelected"
          />
          <span></span>
        </label>
      </th>
      <th *ngFor="let h of headers">{{ "table-header." + h | translate }}</th>
      <th>Aktionen</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of rows">
      <td>
        <label>
          <input
            type="checkbox"
            (input)="toggleOne(r['_id'])"
            [checked]="isChecked(r['_id'])"
          />
          <span></span>
        </label>
      </td>
      <td *ngFor="let h of headers">{{ !!r[h] ? r[h] : "-" }}</td>
      <td>
        <button
          appButton
          class="margin-right-s"
          color="blue"
          (click)="edit(r['_id'])"
        >
          {{ "action.edit" | translate }}
        </button>
        <app-modal
          headlineKey="delete.headline"
          descriptionKey="delete.description"
          triggerKey="delete"
          triggerColor="red"
          confirmKey="yes"
          cancelKey="no"
          (confirm)="delete(r['_id'])"
        >
        </app-modal>
      </td>
    </tr>
  </tbody>
</table>

<app-flyout #flyout position="right" (confirm)="store()">
  <app-render-json-form
    [instance]="instance"
    [data]="selected"
  ></app-render-json-form>
</app-flyout>
