<table class="collection-list responsive-table">
  <thead>
  <tr>
    <th>
      <label>
        <input type="checkbox" (change)="toggleAll()" [(ngModel)]="allSelected" />
        <span></span>
      </label>
    </th>
    <th *ngFor="let h of headers">{{'table-header.' + h | translate }}</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let r of rows">
    <td>
      <label>
        <input type="checkbox" (input)="toggle(r['_id'])" [checked]="isChecked(r['_id'])"/>
        <span></span>
      </label>
    </td>
    <td *ngFor="let h of headers">{{!!r[h] ? r[h] : '-'}}</td>
    <td>
      <app-icon name="mode_edit"></app-icon>
      <app-icon name="delete"></app-icon>
    </td>
  </tr>
  </tbody>
</table>

