.card-panel {
  position: relative;

  &__add {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__remove {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}
