.flyout {
  &__close-area {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
  }

  &__window {
    position: fixed;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    padding: 50px;
    transition: 0.5s;
    z-index: 2;
    overflow-y: scroll;

    &--closed {
      &-right {
        transform: translateX(100%);
      }

      &-left {
        transform: translateX(-100%);
      }

      &-top {
        transform: translateY(-100%);
      }

      &-bottom {
        transform: translateY(100%);
      }
    }

    &--left,
    &--right {
      width: 100%;
      max-width: 1024px;
      top: 0;
      bottom: 0;
    }

    &--top,
    &--bottom {
      height: 100%;
      max-height: 450px;
      right: 0;
      left: 0;
    }

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }
  }

  &__close {
    position: absolute;
    right: 10px;
    display: flex;
    top: 10px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border-radius: 50%;

    &:hover {
      color: #fff;
      background-color: black;
      margin-right: 0;
    }
  }
}
