body {
  font-family: open-sans-light;
  font-size: 16px;
  position: relative;
  z-index: 0;

  .logo {
    font-family: rainbow-universe;
  }

  .page {
    padding: 20px;
  }

  .text {
    font-family: open-sans-light !important;

    &--normal {
      font-size: 16px !important;
    }

    &--big {
      font-size: 18px !important;
    }

    &--bold {
      font-family: open-sans-bold !important;
    }
  }

  .clickable {
    cursor: pointer;
  }

  @mixin icon-hover($color) {
    display: flex;
    cursor: pointer;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 50%;

    &:hover {
      color: #fff;
      background-color: $color;
    }
  }

  .icon-hover {
    @include icon-hover(#000);

    &--negative {
      @include icon-hover(red);
    }
  }
}
